@import "tailwindcss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("././assets/fonts/League_Spartan/static/LeagueSpartan-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif !important;
  min-width: 320px !important;
  max-width: 100vw !important;
  min-height: 100vh !important;
}

.white-txt {
  color: hsl(0, 100%, 100%) !important;
}

.grey-500-txt {
  color: hsl(0, 0%, 63%) !important;
}

.grey-800-bg-on-hover:hover {
  background-color: hsl(0, 0%, 27%) !important;
}

.grey-800-txt {
  color: hsl(0, 0%, 27%) !important;
}

.black-txt {
  color: hsl(0, 0%, 0%) !important;
}

.gray-text-on-hover:hover {
  color: hsl(0, 0%, 63%) !important;
}

.black-bg {
  background-color: hsl(0, 0%, 0%) !important;
}

.heroBox1 {
  background-image: url("././assets/desktop-image-hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heroBox2 {
  background-image: url("././assets/desktop-image-hero-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heroBox3 {
  background-image: url("././assets/desktop-image-hero-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heroBox1-sm {
  background-image: url("././assets/desktop-image-hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heroBox2-sm {
  background-image: url("././assets/desktop-image-hero-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heroBox3-sm {
  background-image: url("././assets/desktop-image-hero-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.link-underline-after-on-hover:hover {
  position: relative;
}

.link-underline-after-on-hover:hover::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
